<footer class="u-clearfix">
  <a href="/about">
  <div class="option one">
      <i class="fas fa-cog"> About</i>
      <div>
          <p>Learn more about this project</p>
      </div>
  </div>
</a>
<a href="https://github.com/AndrewRPorter/alltext" target="_blank" rel="noopener">
  <div class="option two">
    <i class="fab fa-github"> <strong>GitHub</strong></i>
    <div>
      <p>View AllText on GitHub</p>
    </div>
  </div>
</a>
<a href="/api">
  <div class="option three">
    <i class="fas fa-code"> API</i>
    <div>
      <p>View the API documentation</p>
    </div>
  </div>
</a>
</footer>
